.coin_container {
    -webkit-animation-name: rise,fade;
    -webkit-animation-direction: normal,normal;
    -webkit-animation-duration: 1s,1s;
    -webkit-animation-iteration-count: 1,1;
    -webkit-animation-timing-function: ease-out,linear;
    position:absolute;
    z-index:99999999;
}
.coin {
    -webkit-animation-name: spin;
    -webkit-animation-direction: normal;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
    width: 16px;
    height: 16px;
}
@-webkit-keyframes rise {
    0% {
        -webkit-transform: translate(0px, 0px);
    }
    90% {
        -webkit-transform: translate(0px, -100px);
    }
    100% {
        -webkit-transform: translate(0px, -110px);
    }
}
@-webkit-keyframes fade {
    0% {
        opacity: 1;
    }
    75% {
        opacity: .8;
    }
    100% {
        opacity: 0;
    }
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotateY(180deg);
    }
    40% {
        -webkit-transform: rotateY(0deg);
    }
    80% {
        -webkit-transform: rotateY(180deg);
    }
}

.coin {
    background-position: 0 -16px;
}
.android {
    background-position: 0 0;
}
.star {
    background-position: 0 -64px;
}
.unicorn {
    background-position: 0 -32px;
}
.gplus {
    background-position: 0 -48px;
}